version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:5000" 
    environment:
      - MONGO_PATH=mongodb://mongo:27017/mydatabase
      - PORT=5000
    depends_on:
      - mongo
    env_file:
      - .env 

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: